.embla_mobile {
  max-width: 48rem;
  margin: auto;
  --slide-spacing: 6px;
  --slide-size: 98%;
}
.embla__viewport_mobile {
  overflow: hidden;
  padding: 0 12px
}
.embla__container_mobile {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide_mobile {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100% !important;
  min-width: 0;
  padding-left: var(--slide-spacing);
  transition: margin-top 0.3s ease;
  overflow: hidden;
}

.embla__slide_mobile.is-active {
  margin-top: 0;
}

.embla__slide_mobile.is-inactive {
  margin-top: 16px;
}
