.tradeSkeleton:after {
    background: linear-gradient(
            90deg,
            transparent,
            var(--chakra-colors-skeleton-tradeSkeleton),
            transparent
    );
    content: '';
    position: absolute;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    animation: wave 1.5s infinite linear;
}

@keyframes wave {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.tradeSkeleton:before {
    content: '\00a0';
}
