@font-face {
  font-family: 'Neue Pixel Sans';
  font-weight: 400;
  src: url('../src/styles/fonts/NeuePixel-Regular.otf') format('truetype');
  /*unicode-range: U+20, U+21, U+23, U+26-29, U+2C-33, U+35-38, U+3A, U+3F, U+41-57, U+61-7A, U+A9,*/
  /*  U+E9, U+2013, U+2014, U+2026, U+2AF6, U+1F44B;*/
}
@font-face {
  font-family: 'Neue Pixel Sans';
  font-weight: 700;
  src: url('../src/styles/fonts/NeuePixel-Regular.otf') format('truetype');
  /*unicode-range: U+20, U+21, U+23, U+26-29, U+2C-33, U+35-38, U+3A, U+3F, U+41-57, U+61-7A, U+A9,*/
  /*  U+E9, U+2013, U+2014, U+2026, U+2AF6, U+1F44B;*/
}
