.ScrollAreaRoot {
  width: 100%;
  overflow: hidden;
  --scrollbar-size: 6px;
}

.ScrollAreaViewport {
  width: 100%;
  height: 100%;
  overflow-x: auto !important;
}

.ScrollAreaScrollbar {
  display: flex;
  user-select: none;
  touch-action: none;
  background: var(--chakra-colors-grey-100);
  transition: background 160ms ease-out;
}
.ScrollAreaScrollbar[data-orientation='vertical'] {
  width: var(--scrollbar-size);
}
.ScrollAreaScrollbar[data-orientation='horizontal'] {
  flex-direction: column;
  height: var(--scrollbar-size);
}

.ScrollAreaThumb {
  flex: 1;
  background: var(--chakra-colors-grey-800);
  position: relative;
}

.ScrollAreaThumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}
