@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.infinite-scroll-component {
  overflow: unset !important;
}

.infinite-scroll-component__outerdiv {
  width: fit-content !important;
}

.full-container .infinite-scroll-component__outerdiv {
  width: 100% !important;
}

.read-only .ql-container.ql-snow {
  border: none !important;
}

.read-only .ql-container {
  font-family: 'Inter', sans-serif !important;
  font-size: 14px !important;
  border-radius: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 20px !important;
}

.ql-editor {
  min-height: 150px;
  background: var(--chakra-colors-grey-50) !important;
  font-size: 16px;
}

.draft .ql-editor {
  background: var(--chakra-colors-grey-100) !important;
  min-height: unset;
  font-size: 16px;
}

.draft.hover .ql-editor {
  background: var(--chakra-colors-grey-200) !important;
}

.draft.checked .ql-editor {
  background: var(--chakra-colors-draftCard-bg) !important;
}

.draft.checked.hover .ql-editor {
  background: var(--chakra-colors-grey-200) !important;
}

.read-only .ql-editor {
  padding: 0 !important;
  font-size: 14px;
  z-index: 10;
}

.ql-container {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.ql-toolbar {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.ql-tooltip {
  position: absolute !important;
  z-index: 1000 !important;
  top: -50px !important;
  left: 0 !important;
}

.ql-snow .ql-tooltip {
  background: var(--chakra-colors-grey-50) !important;
  color: var(--chakra-colors-grey-800) !important;
}

.ql-snow a {
  color: var(--chakra-colors-grey-800) !important;
}

.read-only .ql-tooltip {
  z-index: 1000;
}

* {
  outline: none;
}

.react-datepicker-popper {
  z-index: 9999;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker {
  border: unset;
  background-color: var(--chakra-colors-grey-100);
  border-radius: 12px;
}

.react-datepicker__header {
  background-color: var(--chakra-colors-grey-100);
  border-bottom: 1px solid var(--chakra-colors-grey-200);
  border-top-left-radius: 12px;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 12px;
}

.react-datepicker__time-container .react-datepicker__time {
  border-bottom-right-radius: 12px;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  border-bottom-right-radius: 12px;
}

.react-datepicker__time-container {
  border-left: 1px solid var(--chakra-colors-grey-200);
}

.react-datepicker__time-container .react-datepicker__time {
  background-color: var(--chakra-colors-grey-100);
}

.react-datepicker__current-month {
  color: var(--chakra-colors-grey-800);
}

.react-datepicker-time__header {
  color: var(--chakra-colors-grey-800);
}

.react-datepicker__day {
  color: var(--chakra-colors-grey-500);
  border-radius: 8px;
}

.react-datepicker__day:hover {
  background: var(--chakra-colors-grey-300);
  border-radius: 8px;
}

.react-datepicker__day--disabled {
  color: var(--chakra-colors-grey-200);
}

.react-datepicker__day--keyboard-selected {
  background: var(--chakra-colors-blue-500);
  color: var(--chakra-colors-white);
}

.react-datepicker__day--keyboard-selected:hover {
  background: var(--chakra-colors-blue-500);
}

.react-datepicker__day--selected {
  color: var(--chakra-colors-white);
  background: var(--chakra-colors-blue-500);
}

.react-datepicker__day--selected:hover {
  background: var(--chakra-colors-blue-500);
}

.react-datepicker__day-name {
  color: var(--chakra-colors-grey-500);
}

.react-datepicker__time-list-item {
  color: var(--chakra-colors-grey-500);
}

.react-datepicker__time-list-item:hover {
  background: var(--chakra-colors-grey-300) !important;
}

body {
  --privy-border-radius-sm: 4px;
  --privy-border-radius-md: 8px;
  --privy-border-radius-lg: 12px;
  --privy-border-radius-full: 100%;
  --privy-color-background: var(--chakra-colors-grey-100);
  --privy-color-background-2: var(--chakra-colors-grey-300);
  --privy-color-background-3: var(--chakra-colors-grey-400);
  --privy-color-foreground: var(--chakra-colors-grey-800);
  --privy-color-foreground-2: var(--chakra-colors-grey-800);
  --privy-color-foreground-3: var(--chakra-colors-grey-500);
  --privy-color-foreground-4: var(--chakra-colors-grey-300);
  --privy-color-accent: var(--chakra-colors-blue-500);
  --privy-color-success: var(--chakra-colors-green-500);
  --privy-color-error: var(--chakra-colors-red-500);
  --privy-color-accent-dark: var(--chakra-colors-blue-500);
}

.chakra-popover__popper {
  z-index: 99999 !important;
}

.intercom-lightweight-app-launcher {
  bottom: 40px !important;
  right: 16px !important;
}
[class^='intercom-with-namespace'] {
  bottom: 40px !important;
  right: 16px !important;
}

@media (max-width: 1024px) {
  .intercom-lightweight-app-launcher {
    bottom: 88px !important;
    right: 8px !important;
  }

  [class^='intercom-with-namespace'] {
    bottom: 88px !important;
    right: 8px !important;
  }
}
